# ─── ASOSIY SOZLAMALAR ───────────────────────────────────
# Bot tokeni (@BotFather'dan oling)
BOT_TOKEN=8189251268:AAF67IT89D7OyDM2AaqAueu1UukyX9bvEGc

# Admin Telegram ID lari (vergul bilan ajrating)
# O'z ID ingizni @userinfobot dan oling
ADMIN_IDS=123456789

# ─── DO'KON MA'LUMOTLARI ─────────────────────────────────
SHOP_NAME=@muhabbat0093
SHOP_PHONE=+998 XX XXX-XX-XX
SHOP_ADDRESS=Toshkent shahri

# ─── BAZA SOZLAMALARI (ixtiyoriy) ────────────────────────
DB_PATH=erp.db
OLD_DB_PATH=savdo.db
