# ─── ASOSIY SOZLAMALAR ───────────────────────────────────
# Bot tokeni (@BotFather'dan oling)
BOT_TOKEN=8189251268:AAF67IT89D7OyDM2AaqAueu1UukyX9bvEGc

# Admin Telegram ID lari (vergul bilan ajrating)
# O'z ID ingizni @userinfobot dan oling
ADMIN_IDS=1088614795

# ─── DO'KON MA'LUMOTLARI ─────────────────────────────────
SHOP_NAME=@Lady_Maryam_bot
SHOP_PHONE=+998930822933
SHOP_ADDRESS=Buxoro viloyati
# ─── BAZA SOZLAMALARI (ixtiyoriy) ────────────────────────
DB_PATH=erp.db
OLD_DB_PATH=savdo.db
